.EditorFrame{
    border: 4px solid #f0f1f1;
    padding: 1rem;
}

.EditorSubStep{
    display: flex;
    align-items: center;
}
.EditorSubStepLastCol{
    padding-right: 0;
}
.EditorSubStepFirstInput{
    border-bottom-left-radius:0;
    border-top-left-radius:0;
}
.EditorSubStepNumber{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-align: center;
}
.EditorButtonPrimaryBorderLeft{
    border-left: 2px solid #084298;
}