.App-header{
  margin-top: 1rem;
}
h1{
  font-family: 'Zilla Slab', serif;
}
h2{
  font-family: 'Zilla Slab', serif;
}
h3{
  font-family: 'Zilla Slab', serif;
}
h4{
  font-family: 'Zilla Slab', serif;
}
h5{
  font-family: 'Zilla Slab', serif;
}
h6{
  font-family: 'Zilla Slab', serif;
}